<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Picture Voting</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="setNavActiveClass('home')" routerLink="/home" class="nav-link {{navHomeActiveClass}}" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a (click)="setNavActiveClass('vote')" routerLink="/vote" class="nav-link {{navVoteActiveClass}}" aria-current="page">Vote</a>
        </li>
        <li class="nav-item">
          <a (click)="setNavActiveClass('statistics')" routerLink="/statistics" class="nav-link {{navStatisticsActiveClass}}" aria-current="page">Statistics</a>
        </li>
        <li class="nav-item">
          <a (click)="setNavActiveClass('ranking')" routerLink="/ranking" class="nav-link {{navRankingActiveClass}}" aria-current="page">Ranking</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid w-75">
  <router-outlet></router-outlet>
</div>
