<div class="row material-table">
  <table mat-table matSort [dataSource]="dataSource" class="lessons-table mat-elevation-z8">

    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="rank"> Position </th>
      <td class="mat-row" mat-cell *matCellDef="let rank"> {{rank.rank}} </td>
    </ng-container>

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef> Image </th>
      <td mat-cell *matCellDef="let rank"> <img id="cat-thumbnail" src="{{rank.image.url}}" alt="Pircture of a cat" width="50px" height="50px"></td>
    </ng-container>

    <ng-container matColumnDef="wins">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="wins"> Wins </th>
      <td mat-cell *matCellDef="let rank"> {{rank.wins}} </td>
    </ng-container>

    <ng-container matColumnDef="loses">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="loses"> Loses </th>
      <td mat-cell *matCellDef="let rank"> {{rank.loses}} </td>
    </ng-container>

    <ng-container matColumnDef="winsPerVote">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="winsPerVote"> Wins per vote </th>
      <td mat-cell *matCellDef="let rank"> {{rank.winsPerVote| percent}} </td>
    </ng-container>

    <ng-container matColumnDef="datetime" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header="datetime"> Date added </th>
      <td mat-cell *matCellDef="let rank"> {{rank.image.datetime| date:'dd.MM.yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="information">
      <th mat-header-cell  *matHeaderCellDef > Information </th>
      <td mat-cell *matCellDef="let rank" >
        <mat-icon color="primary">
          info
        </mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let rank; columns: displayedColumns;" (click)="showDetails(rank)"></tr>

  </table>
  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
