<svg aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="icon-heart" viewBox="0 0 30 27">
      <path d="M 23 0 c -4 0 -7 2 -8 5 c -1 -3 -4 -5 -8 -5 c -5 0 -7 4 -7 7 c 0 8 7 13 15 20 c 8 -7 15 -12 15 -20 c 0 -4 -2 -7 -7 -7 z"></path>
    </symbol>
  </defs>
</svg>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="card text-end">
      <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="{{overlayClass}} card-img-top">
        <img (dblclick)="submitVote(currentImages[0], currentImages[1], true)" *ngIf="currentImages && currentImages[0]" class="card-img-top img-fluid" [src]="currentImages[0].imageAsBase64String"
             alt="Katzenbild bezogen von https://thecatapi.com/">
        <svg class="like {{likeAnimation}} {{hideLeftLike}}">
          <use xlink:href="#icon-heart"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="card text-end">
      <div *ngIf="isLoading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="{{overlayClass}} card-img-top">
        <img (dblclick)="submitVote(currentImages[1], currentImages[0], false)" *ngIf="currentImages && currentImages[1]" class="card-img-top img-fluid" [src]="currentImages[1].imageAsBase64String"
             alt="Katzenbild bezogen von https://thecatapi.com/">
        <svg class="like {{likeAnimation}} {{hideRightLike}}">
          <use xlink:href="#icon-heart"></use>
        </svg>
      </div>
    </div>
  </div>
</div>
